* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    width: 150px;
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    background: #FD6E0A;
    border-radius: 5px;
    color: #FFFFFF;
    border: 0;
}
.btn-primary2 {
    width: 200px;
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    background: #FD6E0A;
    border-radius: 5px;
    color: #FFFFFF;
    border: 0;
    margin-top: 30px;
}

/* Header and nav style */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 225px;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav li {
    margin-left: 51px;
}

.logo {
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
}

/* banner style */
.banner {
    display: flex;
    align-items: center;
}

.banner-desc {
    margin-left: 225px;
}

.sub-title {
    color: #474747;
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;
    margin-bottom: 15px;
}

.title {
    color: #181818;
    font-weight: 700;
    font-size: 85px;
    line-height: 116px;
}

.details {
    color: #757575;
    width: 585px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-top: 15px;
}

.banner-photo {
    width: 584px;
    height: 676px;
    left: 978px;
    top: 161px;
}